<!DOCTYPE html>
<html>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Janken GAME!</h1>
  <div th:if="${Name}">
    Hi [[${Name}]]
  </div>
  <h2>エントリー</h2>
  <p th:if="${users}">
  <ul>
    <li th:each="user :${users}"><a th:href="@{/match(id=${user.id})}">[[${user.userName}]]</a></li>
  </ul>
  </p>

  <div>
    <a href="/jankengame?hand=Gu">ぐー</a>
    <a href="/jankengame?hand=Tyoki">ちょき</a>
    <a href="/jankengame?hand=Pa">ぱー</a>
  </div>

  <div th:if="${userhand}">
    あなたの手 [[${userhand}]]
  </div>
  <div th:if="${cpuhand}">
    相手の手 [[${cpuhand}]]
  </div>
  <div th:if="${kekka}">
    結果 [[${kekka}]]
  </div>

  <h2>試合結果</h2>
  <p th:if="${matches}">
  <div th:each="match,stat:${matches}">
    <tr>
      <td>id:[[${match.id}]]</td>
      <td>user1:[[${match.user1}]]</td>
      <td>user2:[[${match.user2}]]</td>
      <td>user1の手:[[${match.user1Hand}]]</td>
      <td>user2の手:[[${match.user2Hand}]]</td>
    </tr>
  </div>
  </p>
</body>

</html>
