<!DOCTYPE html>
<html>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Janken GAME!</h1>
  <div th:if="${room}">
    エントリー
    <ul>
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>

  <div th:if="${Name}">
    Hi [[${Name}]]
  </div>
  <div>
    <a href="/jankengame?hand=Gu">ぐー</a>
    <a href="/jankengame?hand=Tyoki">ちょき</a>
    <a href="/jankengame?hand=Pa">ぱー</a>
  </div>

  <div th:if="${userhand}">
    あなたの手 [[${userhand}]]
  </div>
  <div th:if="${cpuhand}">
    相手の手 [[${cpuhand}]]
  </div>
  <div th:if="${kekka}">
    結果 [[${kekka}]]
  </div>

</body>

</html>
