<!DOCTYPE html>
<html>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Janken GAME!</h1>
  <div th:if="${Name}">
    Hi [[${Name}]]
  </div>
  <h2>エントリー</h2>
  <p th:if="${users}">
  <ul>
    <li th:each="user :${users}"><a th:href="@{/match(id=${user.id})}">[[${user.userName}]]</a></li>
  </ul>
  </p>

  <h2>アクティブな試合</h2>
  <p th:if="${Activematches}">
  <div th:each="Activematch,stat:${Activematches}">
    <tr>
      <td>id:[[${Activematch.id}]]</td>
      <td>user1:[[${Activematch.user1}]]</td>
      <td>user2:[[${Activematch.user2}]]</td>
      <td>isActive:[[${Activematch.isActive}]]</td>
    </tr>
  </div>
  </p>

  <h2>試合結果</h2>
  <p th:if="${matches}">
  <div th:each="match,stat:${matches}">
    <tr>
      <td>id:[[${match.id}]]</td>
      <td>user1:[[${match.user1}]]</td>
      <td>user2:[[${match.user2}]]</td>
      <td>user1の手:[[${match.user1Hand}]]</td>
      <td>user2の手:[[${match.user2Hand}]]</td>
    </tr>
  </div>
  </p>
</body>
</html>
