<!DOCTYPE html>
<html>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Match</h1>
  <div th:if="${loginuser}">
    <div th:if="${eUser}">
      <h2>[[${loginuser.userName}]] V.S. [[${eUser.userName}]]</h2>
    </div>
  </div>

  <div>
    <a th:href="@{/fight(id=${loginuser.id}, hand=Gu)}">ぐー</a>
    <a th:href="@{/fight(id=${loginuser.id}, hand=Tyoki)}">ちょき</a>
    <a th:href="@{/fight(id=${loginuser.id}, hand=Pa)}">ぱー</a>
  </div>

  <div th:if="${userhand}">
    あなたの手 [[${userhand}]]
  </div>
  <div th:if="${cpuhand}">
    相手の手 [[${cpuhand}]]
  </div>
  <div th:if="${kekka}">
    結果 [[${kekka}]]
  </div>

  <a href="/janken">もどる</a>
</body>

</html>
